/* ADD CUSTOM CSS HERE */

img {
    max-width: 100%;
}

#caption_banner {
/*    background-image: url('/images/agate_Vampire.png');*/
    background: url('/images/agate/Vermine2047-Forest-background.jpg') center center;
    background-size: cover;
    width: 100%;
    display: block;
    padding: 30px 0;
}

#agate_logo {
    min-width: 0;
    min-height: 0;
    width: auto;
    height: auto;
    position: static;
    float: right;
}

#caption_banner .project_logo
{
    min-width: 0;
    min-height: 0;
    width: auto;
    height: auto;
    margin: 0 auto;
    position: static;
    display: block;
}

#caption_banner .project_logo {
    max-width: 450px;
    margin-bottom: 30px;
}

#agate_logo {
    max-width: 120px;
}

/** Use #phpbb to force override **/
#phpbb #main-navbar .nav>li>a {
    text-transform: initial;
}

em {
    font-style: italic;
}
.content ul {
    list-style-type: disc;
}

@media (max-width: 980px) {
    #left-nav {
        float: none;
    }
    #page-header .carousel .item,
    #caption_banner {
        min-height: 150px;
    }
}

