/* ADD CUSTOM CSS HERE */

img {
    max-width: 100%;
}

#caption_banner {
    background-image: url('/images/banner.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    left: 0;
    right: 0;
    color: transparent;
    text-align: center;
}

/** Use #phpbb to force override **/
#phpbb #main-navbar .nav>li>a {
    text-transform: initial;
}

em {
    font-style: italic;
}
.content ul {
    list-style-type: disc;
}

